@import './variables.module.scss';
@import './mixins.scss';

html,
body {
  height: 100%;
  background-color: #f0f2f5;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans,
    sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f3f3f3;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(204, 204, 204);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: #c2c2c2;
}
